.add_user {
  width: 44.323vw;
  background-color: (255, 255, 255, 1);
  border-radius: 0.781vw;
  display: flex;
  flex-flow: column;
  padding: 2.083vw 0 3.922vw 0;
}

.header_add_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.672vw;
  padding-left: 2.865vw;

  & p {
    font-size: 1.667vw;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 2.032vw;
  }
}

.svg_black_cross {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.193vw;
  width: 5.208vw;
}

.add_user_inputs {
  display: flex;
  align-items: center;
  gap: 5.539vw;
  padding: 0 4.323vw 0 4.219vw;
  margin-bottom: 1.406vw;
}

.adds_inputs_user {
  display: flex;
  flex-flow: column;
  gap: 0.812vw;
}

.add_logo_user {
  width: 11.042vw;
  height: 12.188vw;
  border-radius: 50%;
  background-color: black;
}

.input_add_user {
  border: 0.041vw rgba(208, 210, 216, 1) solid;
  border-radius: 0.406vw;
  width: 19.201vw;
  height: 2.03vw;
  padding-left: 1.042vw;
  font-size: 1.042vw;
  font-weight: 400;
  line-height: 1.27vw;

  &::placeholder {
    text-align: center;
    padding-right: 1.042vw;
  }
}
.select_add_user {
  background-color: rgba(255, 255, 255, 1);
  width: 19.201vw;
  height: 2.03vw;
  color: rgba(0, 0, 0, 1);
  font-size: 1.042vw;
  font-weight: 400;
  line-height: 1.27vw;
  display: flex;
  justify-content: center;
  border: 0.041vw rgba(208, 210, 216, 1) solid;
  border-radius: 0.406vw;
  align-items: center;
}

.add_user_btns {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 4.427vw;
  gap: 1.354vw;
}

.btn_add_user {
  background-color: rgba(96, 173, 30, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.67vw;
  height: 2.484vw;
  border-radius: 0.336vw;
  font-size: 0.671vw;
  font-weight: 400;
  line-height: 0.819vw;
}

.btn_cancel_add_user {
  width: 5.287vw;
  height: 2.13vw;
  font-size: 0.671vw;
  font-weight: 400;
  line-height: 0.819vw;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(208, 210, 216, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.336vw;
  cursor: pointer;
}
