.input_comm_block {
  width: 1920px;
  gap: 60px;
  flex-flow: column;
  display: flex;
}

.input_comm_block h1 {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  line-height: 68.26px;
  font-size: 56px;
}

.input_comm_block p {
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  font-size: 22px;
  line-height: 26.82px;
}

.comment {
  display: flex;
  padding-left: 30px;
  gap: 36.12px;
}

.area_comment {
  height: 225px;
  flex: 1;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  border: solid 1px rgba(208, 210, 216, 1);
  font-size: 22px;
  line-height: 26.82px;
  padding: 30.86px 0 0 54.31px;
  resize: none;
}

.area_comment input {
}

.button_post {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.button_post button {
  border-radius: 5.83px;
  background-color: rgba(71, 166, 124, 1);
  width: 212px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 15px;
  line-height: 18.29px;
}
