.inputCommMargin {
  margin-bottom: 5.104vw;
}
.input_comm_block {
  width: 100vw;
  gap: 3.125vw;
  flex-flow: column;
  display: flex;
}

.input_comm_block h1 {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  line-height: 3.555vw;
  font-size: 2.917vw;
}

.input_comm_block p {
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  font-size: 1.146vw;
  line-height: 1.397vw;
}

.comment {
  display: flex;
  padding-left: 1.563vw;
  gap: 1.881vw;
}

.area_comment {
  height: 11.719vw;
  flex: 1;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.521vw;
  border: solid 0.052vw rgba(208, 210, 216, 1);
  font-size: 1.146vw;
  line-height: 1.397vw;
  padding: 1.607vw 0 0 2.829vw;
  resize: none;
}

/* .area_comment input {
} */

.comment_list {
  display: flex;
  flex-flow: column;
  width: 100vw;
  gap: 3.802vw;
  margin-bottom: 5.208vw;
}
.button_post {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.button_post button {
  border-radius: 0.304vw;
  background-color: rgba(71, 166, 124, 1);
  width: 11.042vw;
  height: 2.448vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 0.781vw;
  line-height: 0.953vw;
}
.logo_profile {
  height: 3.125vw;
  width: 3.125vw;
  border-radius: 1.563vw;
  background-color: black;
}

.name_date {
  display: flex;
  align-items: center;
  gap: 0.794vw;
}

.data_comment {
  display: flex;
  flex-flow: column;
  gap: 1.042vw;
}

.date p {
  color: rgba(136, 136, 136, 1);
  font-size: 0.833vw;
  line-height: 1.016vw;
  font-weight: 400;
}
.name p {
  color: rgba(0, 0, 0, 1);
  font-size: 0.833vw;
  font-weight: 400;
}

.name p::first-letter {
  color: rgba(71, 166, 124, 1);
  font-weight: 700;
}

.comment_block {
  display: flex;
  align-items: center;
  gap: 2.839vw;
}

.comm p {
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 1.016vw;
  color: rgba(0, 0, 0, 1);
}
