

.name_date {
  display: flex;
  align-items: center;
  gap: 15.25px;
}

.data_comment {
  display: flex;
  flex-flow: column;
  gap: 21px;
}

.date p {
  color: rgba(136, 136, 136, 1);
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
}
.name p {
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 400;
}

.name p::first-letter {
  color: rgba(71, 166, 124, 1);
  font-weight: 700;
}

.comment_block {
  display: flex;
  align-items: center;
  gap: 54.5px;
}

.comm p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  color: rgba(0, 0, 0, 1);
}
