.navbar_admin {
  display: flex;
  align-items: center;
  gap: 15.573vw;
}

.privilege_navbar ul {
  display: flex;
  flex-flow: row;
  gap: 4.01vw;

  & li {
    margin: 0;
    font-weight: 400;
    line-height: 1.587vw;
    font-size: 1.302vw;
    color: rgba(0, 0, 0, 1);
  }
}