

/* .events {} */

.filter {
    width: 79.167vw;
    padding: 0 10.417vw;
    margin-bottom: 5.469vw;
}

.find_event {
    width: 79.167vw;
    height: 3.646vw;
    padding: 1.12vw 0px 1.12vw 4.063vw;
    border: solid 0.052vw #D0D2D8;
    border-radius: 0.521vw;
    margin-bottom: 1.563vw;
    color: #888888;
    display: flex;
    align-self: center;
    font-size: 1.146vw;
    font-weight: 400;
    line-height: 1.397vw;
}

.options_event {
    display: flex;
    gap: 2.604vw;
    align-items: center;
    /* width: calc(424px + 50px); */
    width: 100%;
}

.time_event_filter {
    width: 11.042vw;
    height: 1.823vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.052vw #D0D2D8;
    border-radius: 0.052vw;
}

.cards {
  width: 100vw;
  padding: 0 10.417vw;
  height: 71.198vw;
  display: flex;
  gap: 2.604vw;
  flex-flow: wrap;

}

.more_event {
    max-width: 18.75vw;
    height: 3.125vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.052vw #D0D2D8;
    color: #151515;
    letter-spacing: -3%;
    line-height: 1.823vw;
    font-size: 1.458vw;
    font-weight: 400;
    text-align: center;
    border-radius: 0.521vw;
}