.all-events {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.all-events__create-button {
  border-radius: 0.521vw;
  margin: 5.625vw 0;
  width: 38.281vw;
  height: 6.823vw;
  background-color: rgba(71, 166, 124, 1);
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  line-height: 3.555vw;
  font-size: 2.917vw;
}

.all-events__list {
  display: flex;
  gap: 2.27vw;
  flex-flow: row wrap;
  width: 100%;
}
