.create_event {
  padding-top: 7.396vw;
}

.main_section_create_event {
  display: flex;
  gap: 9.427vw;
  margin-bottom: 5.729vw;
}

.main_section_create_event_column {
  display: flex;
  flex-direction: column;
  gap: 2.604vw;
}

.main_content_create_event_name_event {
  width: 38.281vw;
  height: 5.938vw;
  border: solid 0.052vw rgba(208, 210, 216, 1);
  border-radius: 0.521vw;
  display: flex;
  text-align: center;
  color: rgba(136, 136, 136, 1);
  line-height: 2.285vw;
  font-size: 1.875vw;
  font-weight: 500;
}

.small_info_blocks_create_event {
  display: flex;
  flex-direction: column;
  gap: 0.729vw;
  margin-bottom: 2.917vw;
}

.types_event_create_event {
  display: flex;
  align-items: center;
  gap: 0.417vw;
}

.type_event_create_event {
  border: solid 0.052vw rgba(208, 210, 216, 1);
  border-radius: 0.521vw;
  width: 8.385vw;
  height: 1.927vw;
  align-items: center;
  display: flex;
  justify-content: center;
  color: rgba(136, 136, 136, 1);
  font-weight: 400;
  line-height: 0.953vw;
  font-size: 0.781vw;
}

.add_type_event_create_event {
  height: 1.979vw;
  width: 1.979vw;
  border: solid 0.052vw rgba(208, 210, 216, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  & p {
    font-weight: 400;
    line-height: 0.953vw;
    font-size: 0.781vw;
    color: rgba(136, 136, 136, 1);
  }
}

.type_of_conduct {
  display: flex;
  align-items: center;
  gap: 0.417vw;
}

.block_type_of_conduct {
  appearance: none;
  text-align: center;
  height: 1.979vw;
  border-radius: 0.521vw;
  border: 0.052vw solid rgba(208, 210, 216, 1);
  color: rgba(136, 136, 136, 1);
  font-weight: 400;
  line-height: 0.953vw;
  font-size: 0.781vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date_time_of_conduct {
  display: flex;
  gap: 0.521vw;
  align-items: center;
}

.date_of_conduct {
  width: 8.698vw;
  height: 2.083vw;
  border: 0.052vw solid rgba(208, 210, 216, 1);
  border-radius: 0.521vw;
  display: flex;
  align-items: center;

  font-size: 0.833vw;
}

.time_of_conduct {
  width: 8.698vw;
  height: 2.083vw;
  border: 0.052vw solid rgba(208, 210, 216, 1);
  border-radius: 0.521vw;
  font-size: 0.833vw;
}

.duration_of_conduct {
  width: 8.698vw;
  height: 2.083vw;
  border: 0.052vw solid rgba(208, 210, 216, 1);
  border-radius: 0.521vw;
  font-size: 0.833vw;
}

.link_event_create_event {
  width: 20.833vw;
  height: 4.167vw;
  border: solid 0.052vw rgba(208, 210, 216, 1);
  border-radius: 0.521vw;
  text-align: center;
  color: rgba(136, 136, 136, 1);
  line-height: 1.587vw;
  font-size: 1.302vw;
  font-weight: 400;
  margin-bottom: 7.813vw;
}

.link_video_create_event {
  width: 19.115vw;
  height: 2.604vw;
  border: solid 0.052vw rgba(208, 210, 216, 1);
  border-radius: 0.521vw;
  text-align: center;
  color: rgba(136, 136, 136, 1);
  line-height: 1.587vw;
  font-size: 1.302vw;
  font-weight: 400;
}

.img_block_main_section {
  display: flex;
  flex-direction: column;
  gap: 1.198vw;
  align-items: center;
  background-color: rgba(217, 217, 217, 1);
  width: 31.458vw;
  height: 15.469vw;
  justify-content: center;
  padding-top: 2.969vw;
}

.img_block_main_section p {
  font-size: 1.875vw;
  font-weight: 400;
  line-height: 2.285vw;
  color: rgba(136, 136, 136, 1);
}

.add_img_main_section {
  background-color: rgba(71, 166, 124, 1);
  border-radius: 50%;
  width: 2.604vw;
  height: 2.604vw;
  font-size: 1.875vw;
  font-weight: 400;
  line-height: 2.285vw;
  color: rgba(0, 0, 0, 1);
}

.about_event_section_create_event {
  display: flex;
  flex-direction: column;
  gap: 3.229vw;
  margin-bottom: 7.656vw;
}

.about_event_section_create_event h1 {
  color: rgba(0, 0, 0, 1);
  font-size: 2.917vw;
  font-weight: 400;
  line-height: 3.555vw;
}

.about_event_section_create_event textarea {
  color: rgba(136, 136, 136, 1);
  font-size: 1.875vw;
  font-weight: 400;
  line-height: 2.285vw;
  width: 100%;
  height: 14.271vw;
  border-radius: 0.521vw;
  border: solid 0.052vw rgba(208, 210, 216, 1);
  resize: none;
}

.about_event_section_create_event textarea::placeholder {
  text-align: center;

  padding-top: calc((14.271vw - (2.285vw / 2)) / 2);
}

.specialist_section_create_event {
  display: flex;
  flex-direction: column;
  gap: 3.073vw;
  margin-bottom: 7.135vw;
}

.specialist_section_create_event h1 {
  color: rgba(0, 0, 0, 1);
  font-size: 2.917vw;
  font-weight: 400;
  line-height: 3.555vw;
}

.add_specialist_data {
  display: flex;
  align-items: center;
}

.add_specialist_logo {
  margin-right: 9.74vw;
  margin-left: 3.854vw;
  min-width: 11.042vw;
  height: 11.042vw;
  border-radius: 50%;
  background-color: green;
}

.adds_specialist_inputs {
  display: flex;
  flex-direction: column;
  gap: 0.99vw;
  margin-right: 6.719vw;
  & input,
  textarea {
    font-size: 1.667vw;
    font-weight: 400;
    line-height: 2.032vw;
    color: rgba(136, 136, 136, 1);
  }
}

.add_description_specialist {
  display: flex;
  width: 24.635vw;
  height: 4.531vw;
  border: solid 0.052vw rgba(208, 210, 216, 1);
  border-radius: 0.521vw;
  resize: none;
  &::placeholder {
    text-align: center;
  }
}

.add_name_number_mail_specialist {
  width: 24.635vw;
  height: 2.604vw;
  border-radius: 0.521vw;
  border: solid 0.052vw rgba(208, 210, 216, 1);

  &::placeholder {
    text-align: center;
  }
}

/* .add_name_number_mail_specialist::-ms-value {
  padding-left: 20px;
} */

.adds_specialist_materials_links {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2.083vw;

  & p {
    line-height: 1.524vw;
    font-size: 1.25vw;
    color: rgba(0, 0, 0, 1);
    white-space: nowrap;
  }
}

.circle_links {
  display: flex;
  align-items: center;
  gap: 1.771vw;
}

.add_specialist_material_link {
  width: 3.646vw;
  height: 3.646vw;
  background-color: rgba(208, 210, 216, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  & p {
    line-height: 2.285vw;
    color: rgba(136, 136, 136, 1);
    font-size: 1.875vw;
  }
}

.btn_section_create_event {
  display: flex;
  justify-content: center;
  margin-bottom: 6.771vw;
}

.btn_post_event {
  color: rgba(0, 0, 0, 1);
  font-size: 2.083vw;
  font-weight: 400;
  line-height: 2.54vw;
  background-color: rgba(71, 166, 124, 1);
  border-radius: 0.781vw;
  text-align: center;
  width: 38.281vw;
  height: 6.823vw;
}

/* ------------------------------- */