.simple_filter {
  height: 8.594vw;
  display: flex;
  flex-flow: column;
  gap: 3.125vw;
  width: 100vw;
}

.selects{
  display: flex;
  gap: 2.656vw;
  align-items: center;
}

.type_event_select {
  /* & p {
    
  } */
} 