.sign_up {
  width: 11.042vw;
  height: 3.802vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.094vw;
  line-height: 1.635vw;
  color: black;
  border-radius: 0.521vw;
  border: 0.104vw solid black;
}
