.user_users_list {
  display: flex;
  gap: 2.135vw;
  width: 31.25vw;
}

.logo_role {
  display: flex;
  gap: 1.354vw;
  flex-direction: column;
}

.logo_role_img {
  border-radius:   4.219vw;
  width: 8.906vw;
  height: 8.906vw;
  object-fit: cover;
  background-color: black;
}

.logo_role_text {
  font-weight: 600;
  font-size: 1.011vw;
  line-height: 1.233vw;
  text-align: center;
}

.user_info{
    display: flex;
    flex-direction: column;
    gap:1.157vw;
}
