select {
  border: rgba(208, 210, 216, 1) 0.052vw solid;
  width: 10.99vw;
  height: 1.823vw;
  border-radius: 0.521vw;
  padding: 0 0.573vw 0 0.885vw;
  /* appearance: none; */
  background: url("");
}

.hard_filter {
  width: 100vw;
}

.count_select {
  display: flex;
  align-items: center;
  gap: 0.885vw;
  justify-content: flex-end;
}

.count_select p {
  font-weight: 500;
  font-size: 0.885vw;
  line-height: 0.889vw;
  color: rgba(0, 0, 0, 1);
}

