select {
  border: rgba(208, 210, 216, 1) 0.052vw solid;
  width: 10.99vw;
  height: 1.823vw;
  border-radius: 0.521vw;
  padding: 0 0.573vw 0 0.885vw;
  /* appearance: none; */
  background: url("");
}

.hard_filter {
  width: 100vw;
}

.count_select {
  display: flex;
  align-items: center;
  gap: 0.885vw;
  justify-content: flex-end;
}

.count_select p {
  font-weight: 500;
  font-size: 0.885vw;
  line-height: 0.889vw;
  color: rgba(0, 0, 0, 1);
}

@media (max-width: 430px) {
  select {
    width: 14vw;
    height: 3.6vw;
    padding: 0 1.16vw 0 1.7vw;
    border-radius: 1.042vw;
  }
  .count_select {
    gap: 1.6vw;
  }

  .count_select p {
    font-size: 1.6vw;
    line-height: 1.6vw;
  }
}
