.award {
  width: 13.281vw;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.award__img {
  min-width: 8.542vw;
  min-height: 8.542vw;
  border-radius: 50%;
  margin-bottom: 1.563vw;
  object-fit: cover;
  background: url("../../images/award-gold-run.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.award__exp {
  position: relative;
  width: 10.938vw;
  height: 0.26vw;
  background-color: #d0d2d8;
  margin-bottom: 1.094vw;
}

.award__exp_get {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: green;
}

.award__title h2 {
  font-weight: 500;
  font-size: 0.99vw;
  line-height: 1.206vw;
}
