.about_event {
  display: flex;
  flex-flow: column;
  gap: 68px;
  width: 1658px;
}

.about_event h1 {
  color: rgba(0, 0, 0, 1);
  line-height: 68.26px;
  font-size: 56px;
  font-weight: 400;
}

.about_event p {
  color: rgba(0, 0, 0, 0.9);
  line-height: 27.6px;
  font-size: 24px;
  font-weight: 400;
}
