.card {
  cursor: pointer;
  width: 17.865vw;
  height: 31.198vw;
  display: flex;
  gap: 0.521vw;
  flex-flow: column;
}

.image_content {
  padding: 0.781vw 0.469vw 0 0;
  width: 17.865vw;
  height: 1.146vw;
  /* background: url(); */

  display: flex;
  flex-flow: column;
  align-items: flex-end;
  gap: 13.385vw;
}

.status_card_event_green {
  width: 6.771vw;
  height: 2.083vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7ffd2;
  color: #60ad1e;
  line-height: 0.826vw;
  font-size: 0.677vw;
  border-radius: 0.521vw;
  font-weight: 400;
}

.status_card_event_red {
  width: 6.771vw;
  height: 2.083vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd2d2;
  color: #ad1e1e;
  line-height: 0.826vw;
  font-size: 0.677vw;
  border-radius: 0.521vw;
  font-weight: 400;
}

.duration_card_event {
  display: flex;
  align-items: center;
  height: 1.406vw;
  width: 2.76vw;
  gap: 0.26vw;
}

.text_duration_card_event {
  color: #ffdd00;
  font-size: 0.729vw;
  line-height: 0.889vw;
  font-weight: 800;
}

.description_content {
  height: 13.49vw;
  width: 17.865vw;
  margin-top: 1.51vw;
}

.description_content_statuses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.354vw;
}

.type_status {
  width: 5.955vw;
  height: 1.979vw;
  color: #888888;
  border: solid 0.052vw #888888;
  border-radius: 0.521vw;
  font-weight: 400;
  font-size: 0.781vw;
  line-height: 0.953vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg_event_red {
  width: 6.458vw;
  height: 1.615vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.521vw;
  background-color: #ffd2d2;
  font-size: 0.521vw;
  font-weight: 400;
  line-height: 0.635vw;
  color: #ad1e1e;
}

.reg_event_green {
  width: 6.458vw;
  height: 1.615vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.521vw;
  background-color: #e7ffd2;
  font-size: 0.521vw;
  font-weight: 400;
  line-height: 0.635vw;
  color: #60ad1e;
}

.description_content_text {
  font-size: 1.25vw;
  line-height: 1.524vw;
  font-weight: 400;
  color: black;
  width: 17.865vw;
  height: 4.531vw;
  margin-bottom: 2.865vw;
}

.time_event {
  color: #888888;
  line-height: 1.397vw;
  font-size: 1.146vw;
  font-weight: 400;
  width: 17.865vw;
  height: 1.406vw;
}
